form{
border: 8px solid black;
width: 30pc;
height: 30pc;
margin-top: 10%;
border-color: gray;
border-radius: 20px;
background-color: burlywood;

}

div{

    margin-top: 5%;
}
.btn{

    background-color: black;
    color: white;
    border-radius: 5px;
}
.btn:hover{

    background-color: brown;

}

